/* Pokémon Logo Yellow
Hex: #ffcb05
RGB: 255, 203, 5
Pokémon Logo Light Blue
Hex: #2a75bb
RGB: 42, 117, 187
Pokémon Logo Yellow Shadow
Hex: #c7a008
RGB: 199, 160, 8
Pokémon Logo Dark Blue
Hex: #3c5aa6
RGB: 60, 90, 166 */